apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
spec:
  project: default
  source: 
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.4.0
    helm:
      values: |
        deployment:
          replicas: 1

        ingressClass:
          enabled: true
          isDefaultClass: true
          name: traefik

        ports:
          web:
            port: 80
            expose: 
              enabled: true
            exposedPort: 80
            protocol: TCP
          websecure:
            port: 443
            expose: 
              enabled: true
            exposedPort: 443
            protocol: TCP

        additionalArguments:
          - "--entrypoints.web.http.redirections.entrypoint.to=websecure"
          - "--entrypoints.web.http.redirections.entrypoint.scheme=https"
          - "--entrypoints.web.http.redirections.entrypoint.permanent=true"

        service:
          type: LoadBalancer
          annotaions: {}
          spec:
            externalTrafficPolicy: Cluster

        ingressRoute:
          dashboard:
            enabled: false
  destination: 
    server: https://kubernetes.default.svc
    namespace: traefik
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true

